
  .navbar {
    height: 40px;
    width: 1550px;
    background-color: #033649;
    position: relative;
  }
  
  .navbar-brand {
    align-items: flex-start;
    display: inline-flex;
    left: 16px;
    padding: 5px;
    position: absolute;
    top: 4px;
  }
  
  .navbar-item-1 {
    color: #868e96;
    align-items: center;
    gap: 10px;
    justify-content: left;
    left: 600px;
    position: absolute;
   
  }

  .navbar-item-2 {
    color: #868e96;
    align-items: center;
    gap: 10px;
    justify-content: left;
    left: 680px;
    position: absolute;
   
  }

  .navbar-item-3 {
    color: #868e96;
    align-items: center;
    gap: 10px;
    justify-content: left;
    left: 740px;
    position: absolute;
   
  }
  .navbar-item-4 {
    color: #868e96;
    align-items: center;
    gap: 10px;
    justify-content: left;
    left: 830px;
    position: absolute;
   
  }
  .navbar-item-5 {
    color: #868e96;
    align-items: center;
    gap: 10px;
    justify-content: left;
    left: 900px;
    position: absolute;
   
  }
  

  .text {
    color: #868e96;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    
  }
  
 
  
  